<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)\.(\d+)\.(bmp|css|cur|gif|ico|jpe?g|js|png|svgz?|webp|webmanifest)$ $1.$3 [L]
</IfModule>

RewriteCond %{HTTP_HOST} ^//localhost/inovaar/$
## RewriteCond %{HTTP_HOST} ^//inova.br.com/$

RewriteRule ^(!.(\.gif|\.jpg|\.png|\.css|\.js|\.txt|\.php|\.htm|\.html)|.+[^/])$ /$1/ [L]

RewriteRule ^home/?$ index.php [L]
RewriteRule ^home$ index.php [L]


RewriteRule ^manutencao/?$ manutencao.php [L]
RewriteRule ^projetos/?$ projetos.php [L]
RewriteRule ^instalacao/?$ instalacao.php [L]


